[user]
	name = Christian Kampka
	email = christian@kampka.net
	signingkey = 0x1CBE9645DD68E915
	editor = vim
[commit]
    gpgSign = true
[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = christian@kampka.net
	smtpServerPort = 587
[color]
	pager = true
	ui = auto
[merge]
	tool = meld
[alias]
	uncommit = reset --soft HEAD^
	bdiff = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[diff]
	tool = vimdiff
	guitool = meld
[push]
	default = nothing
[init]
	defaultBranch = main
