# Ignore neovim lazy.nvim lock file
neovim/.config/nvim/lazy-lock.json

# Ignore neovim packer compiled files
neovim/.config/nvim/plugin/packer_compiled.lua

# Ignore neovim plugins managed by minpac
neovim/.config/nvim/pack/**

# Ignore font cache uuids
fonts/**/.uuid

# Ignore zsh history database
history/**/history.ltsv

# Ignore tmux plugins
tmux/.config/tmux/plugins

# Ignore zsh zinit plugins
zsh/.config/zsh/.zinit
